[submodule "bundle/vim-startify"]
    path = bundle/vim-startify
    url = https://github.com/mhinz/vim-startify.git
    ignore = dirty
[submodule "bundle/YouCompleteMe"]
    path = bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
[submodule "bundle/tern_for_vim"]
    path = bundle/tern_for_vim
    url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim-abolish"]
    path = bundle/vim-abolish
    url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-easymotion"]
    path = bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-exchange"]
    path = bundle/vim-exchange
    url = https://github.com/tommcdo/vim-exchange.git
[submodule "bundle/vim-markdown"]
    path = bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-rails"]
    path = bundle/vim-rails
    url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-unimpaired"]
    path = bundle/vim-unimpaired
    url = https://github.com/gabesoft/vim-unimpaired.git
[submodule "bundle/vim-ags"]
    path = bundle/vim-ags
    url = git@github.com:gabesoft/vim-ags.git
[submodule "bundle/javascript-libraries-syntax.vim"]
    path = bundle/javascript-libraries-syntax.vim
    url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-jdaddy"]
    path = bundle/vim-jdaddy
    url = https://github.com/tpope/vim-jdaddy.git
[submodule "bundle/lightline.vim"]
    path = bundle/lightline.vim
    url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/DidYouMean"]
    path = bundle/DidYouMean
    url = https://github.com/EinfachToll/DidYouMean.git
[submodule "bundle/ultisnips"]
    path = bundle/ultisnips
    url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/incsearch.vim"]
    path = bundle/incsearch.vim
    url = https://github.com/haya14busa/incsearch.vim.git
[submodule "bundle/vim-java"]
    path = bundle/vim-java
    url = https://github.com/gabesoft/vim-java.git
[submodule "bundle/tmux-complete.vim"]
    path = bundle/tmux-complete.vim
    url = https://github.com/wellle/tmux-complete.vim.git
[submodule "bundle/vim-javacomplete2"]
    path = bundle/vim-javacomplete2
    url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "bundle/vim-unite-history"]
    path = bundle/vim-unite-history
    url = https://github.com/thinca/vim-unite-history.git
[submodule "bundle/vim-visual-increment"]
    path = bundle/vim-visual-increment
    url = https://github.com/triglav/vim-visual-increment.git
    ignore = dirty
[submodule "bundle/incsearch-fuzzy.vim"]
	path = bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule "bundle/incsearch-easymotion.vim"]
	path = bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule "bundle/vim-jsdoc"]
	path = bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
