snippet td "todo"
# TODO: $0
endsnippet

snippet co "coro ignore"
# coro: ignore$0
endsnippet

snippet #! "shell script header" b
#!/usr/bin/env python
$0
endsnippet

snippet nc "dev log" b
logging.NOCOMMIT($0)
endsnippet

snippet fr "from import" b
from ${1:module} import $0
endsnippet

snippet ds "documentation string" b
"""
$0
"""
endsnippet

snippet ps "print stack" b
import traceback
traceback.print_stack()
endsnippet
