snippet im "import" b
<% import $0 %>
endsnippet

snippet se "set variable" b
<% set ${1:name} = $0 %>
endsnippet

snippet re "required variable" b
<% required $0 %>
endsnippet

snippet op "optional variable" b
<% optional $0 %>
endsnippet

snippet bl "block" b
<% ${1:definition} %>
	$0
</%>
endsnippet

snippet td "todo" b
<!-- TODO: $0 -->
endsnippet
